<% title "Admin Dashboard" %>
<ul>
	<li><%= link_to 'work days', work_days_path %> - set up which hours on which days the studio is open</li>
	<li><%= link_to 'presses', presses_path %> - add or edit presses</li>
	<li><%= link_to 'holidays', holidays_path %> - add or edit holidays</li>
	<li><%= link_to 'users', users_path %> - manage studio users</li>
	<li><%= link_to 'mail templates', mail_templates_path %> - modify outgoing email messages</li>
</ul>