<% title "Holidays" %>
<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Note</th>
  </tr>
  <% for holiday in @holidays %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%=h holiday.date %></td>
      <td><%=h holiday.name %></td>
      <td><%=h holiday.note %></td>
      <td><%= link_to "edit", edit_holiday_path(holiday) %></td>
      <td><%= link_to "destroy", holiday, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "add new holiday", new_holiday_path %></p>
