<% title "Holidays" %>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Note</th>
  </tr>
  <% for holiday in @holidays %>
    <tr>
      <td><%=h holiday.date %></td>
      <td><%=h holiday.name %></td>
      <td><%=h holiday.note %></td>
      <td><%= link_to "Show", holiday %></td>
      <td><%= link_to "Edit", edit_holiday_path(holiday) %></td>
      <td><%= link_to "Destroy", holiday, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Holiday", new_holiday_path %></p>
