<% form_for @press, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% if  @press.image -%>
  <!-- Image --> 
    <%= image_tag @press.image.url(:thumb) %>
  <% end %>
  <p>
	<%= f.label :image %><br />
	<%= f.file_field :image %>
<<<<<<< HEAD
  </p>
  <p>
    <%= f.submit %>
=======
  <p>
    <%= f.submit  %>
>>>>>>> 6c3b0a6d9be8c66211ec51ff258d14c7ef941588
  </p>
<% end %>