<div id="studio-hours">
	<h3>Studio Hours</h3>
	<ul>
	  <% @work_days.each do |work_day| %>
	    <li><%= work_day.display_name %>: <%= work_day.display_start_hour %> - <%= work_day.display_end_hour %></li>
		<% end %>
	</ul>
</div><!-- /#shop-hours -->
<h1>Sign Up</h1>
<div id="text-block">
	<div id="sign-up">
    <p>Already have an account? <%= link_to "Log in", login_path %>.</p>
    <p>After you sign up we will need to review your request. We will try and get back to you soon.</p>

    <% form_for @user, :class => "labelize" do |f| %>
      <%= f.error_messages %>
      <fieldset>
        <%= f.label :email, "E-mail Address" %>
        <%= f.text_field :email %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "Sign up", :class => "button" %>
      </fieldset>
    <% end %>
  </div>
</div>