<% title "User Information" %>
<p><strong>Name:</strong><br />
<%= @user.first_name %> <%= @user.last_name %></p>
<p><strong>E-mail address:</strong><br />
<%= @user.email %>
</p>
<p><strong>Phone:</strong><br />
<%= @user.phone_number %>
</p>
<p><strong>Status:</strong><br />
<%= @user.role %>
</p>
<p><%= link_to "edit", edit_user_path(@user) %> | <%= link_to "delete", user_path(@user), :method=>:delete, :confirm=>"Are you sure you want to delete this user?" %></p>