<% content_for :head do -%>
<%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.min.js' %>
<script type="text/javascript">
  
  var holidays = <%= holidays %>;
  var availableWeekdays = <%= available_days %>;
	$(function() {
		$("#datepicker").datepicker(
	          { 
	            minDate: new Date(),
	            defaultDate: new Date(),
	            onSelect: selectDate,
	            beforeShowDay:verifyDates
	          }
		
		);
	});
	
  function verifyDates(date){
     if ((availableWeekdays.indexOf(date.getDayName()) > -1) && (!date.isHoliday())){
       return [true, "2"];
     } else {
       return [false, ""];
     }
  }
  
  function selectDate(dateText, inst) { 
    
    $("#selected-date").text(dateText); 
    
    $.ajax({
      url: '<%= reservations_path %>?date=' + dateText, type: 'get', dataType: 'script', success: setSelections
    }); 

    
  }
  function setSelections(){
  
    $(".pending-reservation[name='reservation[][date]']").each(function (index, obj) {
      if ($("#" + $(obj).attr("class").split(' ')[1]).hasClass("open")){
        $("#" + $(obj).attr("class").split(' ')[1]).removeClass("open");
        $("#" + $(obj).attr("class").split(' ')[1]).addClass("selected");
      } else if($("#" + $(obj).attr("class").split(' ')[1]).hasClass("reserved")){
        $("#" + $(obj).attr("class").split(' ')[1]).removeClass("reserved");
        $("#" + $(obj).attr("class").split(' ')[1]).addClass("open");
        $("#" + $(obj).attr("class").split(' ')[1]).find(".message").text("");
      }
    });
    setTooltips();
  }
  Date.prototype.getDayName = function(){
    var weekday=new Array(7);
    weekday[0]="Sunday";
    weekday[1]="Monday";
    weekday[2]="Tuesday";
    weekday[3]="Wednesday";
    weekday[4]="Thursday";
    weekday[5]="Friday";
    weekday[6]="Saturday";
    return weekday[this.getDay()];
  }
  Date.prototype.isHoliday = function(){
    isHoliday = false;
    if (holidays != null){
      for (i = 0; i < holidays.length; i++) {
        if (this.getMonth() == holidays[i][0] - 1 && this.getDate() == holidays[i][1] && this.getFullYear() == holidays[i][2]){
          isHoliday = true;
        }
      }
    }
    return isHoliday;
  }
<% if logged_in? %>
$(document).ready(function() {
    
    $(".open").live("click", function (){
      $(this).removeClass("open");
      $(this).addClass("selected");
      $("#submit-button").show();
      insertFields($(this).attr("id"));
      $("#success").hide();      
      $("#reminder").fadeIn();
      $(this).qtip("api").updateContent("Unsaved selection."); 

      
    });
    
    $(".owned").live("click", function (){
      thisDateTime = $(this).attr("id").split("-")
      thisHour = thisDateTime[1]
      thisYear = thisDateTime[2].substr(0,4)
      thisMonth = thisDateTime[2].substr(4,2)
      thisDay = thisDateTime[2].substr(6,2)
      selectedTime = new Date(thisYear, thisMonth - 1, thisDay, thisHour, 0, 0, 0)
      rightNow = new Date();
      dateDifference = (selectedTime - rightNow) / (1000*60*60);
      if (dateDifference < 25){
        alert("Sorry - you can't cancel a reservation with less than 24 hours notice.");
      } else {
        $(this).removeClass("owned");
        $(this).removeClass("reserved");
        $(this).addClass("cancelled");
        $(this).find(".message").text("");
        $("#submit-button").show();
        insertFields($(this).attr("id"), true);
        $("#success").hide();        
        $("#reminder").fadeIn();
        $(this).qtip("api").updateContent("Unsaved cancellation."); 
      }


     }); 
     
     $(".selected").live("click", function (){
       $(this).removeClass("selected");
       $(this).addClass("open");
       $("input." + $(this).attr("id")).remove();
       if ($("#reservations-form input").length == 1){
         $("#submit-button").fade();
         $("#reminder").fade();
       }
      $(this).qtip("api").updateContent("Open."); 
       
       
     }); 
     
    $(".cancelled").live("click", function (){
      $(this).removeClass("cancelled");
      $(this).addClass("owned");
      $(this).addClass("reserved");
      $(this).find(".message").text("R");      
      $("input." + $(this).attr("id")).remove();
      if ($("#reservations-form input").length == 1){
        $("#submit-button").fade();
        $("#reminder").fade();
      } 
      $(this).qtip("api").updateContent("Reserved by you."); 
      
      
    });     
    
  });
    
    function insertFields(strFields, isCancelled) {
      if (isCancelled == null){
        isCancelled = false;
      }
      fields = strFields.split("-");
      
      $("#submit-button").before("<input class=\"pending-reservation " + strFields + "\" type=\"hidden\" name=\"reservation[][press_id]\" value=\"" + fields[0] + "\" />");
      $("#submit-button").before("<input class=\"pending-reservation " + strFields + "\" type=\"hidden\" name=\"reservation[][hour]\" value=\"" + fields[1] + "\" />");
      $("#submit-button").before("<input class=\"pending-reservation " + strFields + "\" type=\"hidden\" name=\"reservation[][date]\" value=\"" + fields[2] + "\" />");
      $("#submit-button").before("<input class=\"pending-reservation " + strFields + "\" type=\"hidden\" name=\"reservation[][user_id]\" value=\"" + "<%= current_user ? current_user.id : ''  %>" + "\" />");
      $("#submit-button").before("<input class=\"pending-reservation " + strFields + "\" type=\"hidden\" name=\"reservation[][cancelled]\" value=\"" + isCancelled + "\" />");
    }
    

    
    
<% end %>
$(document).ready(function() 
{
   
  setTooltips();
});
function setTooltips(){
    $("div.hour").qtip({
       
       show: 'mouseover',
       hide: 'mouseout',
       position: {
         corner: {
           target: 'topLeft',
           tooltip: 'bottomLeft'
         }
      }

    }); 
}
</script>
<% end %>

<% if flash[:error] %>
<div class="notice">
<h2>Problem!</h2>
<p><%= flash[:error] %></p>
</div>
<% end %>
<% if flash[:notice] %>
<div class="notice">
<p><%= flash[:notice] %></p>
</div>
<% end %>

<p>Select a date: </p>
<div id="datepicker"></div>
<div id="inline-login">
<% if !logged_in? %> 
<p>You need to log in before you can start making reservations. If you don't have an account, <%= link_to 'click here to sign up', signup_path %></p>
<p><%= link_to 'Click here', reservations_path %> if you forgot your password.</p>
<% session[:return_to] = request.request_uri %>
<% form_for UserSession.new do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Log in" %></p>
<% end %>
<% else %>
<p><strong>Hi, <%= current_user.username %></strong>. <em><%= link_to "Not #{current_user.username}? Click here to logout", logout_path %></em></p>
<p>Thanks for logging in. Make your selections below. Don't forget to save when you are finished. </p>
<p style="display:none;" id="reminder">You have unsaved selections or changes! Don't forget to click save when you are done.</p>
<p style="display:none;" id="success">Your requests have been saved. You should receive a confirmation e-mail soon.</p>
<% end %>
</div>
<br style="clear:both;" />
<br />
<div id="tooltip">&nbsp;</div> 

<div id ="reservations">
<%= render :partial => "reservations" %>

</div>
<div id="reservations-form">
<% remote_form_for :reservations, bulk_create_reservations_path, :method=>:post, :html=>{:id=>"reservations-form"} do |f| %>

<input type="submit" value="save" id="submit-button" style="display:none" />

<% end %>
</div>