<div id="main" role="main" class="clearfix wrapper">
<div id="content">
	<div id="studio-hours">

	</div><!-- /#shop-hours -->

	<h1>Reserve Press Time</h1>
	<div id="text-block">
	  <% unless logged_in? %>
		<div id="log-in">
			<div id="intro-text">

				<h3>But Wait!</h3>
				<p>You need to log in before you can start making reservations. </p>	
				<p>If you don't have an account, <a href="/sign-up">Sign Up</a>.</p>
			</div><!-- /#intro-text -->
			<% session[:return_to] = request.request_uri %>
      <% form_for UserSession.new, :class => "labelize" do |f| %>
        <%= f.error_messages %>
        <fieldset>
          <%= f.label :email, "Email Address" %>
          <%= f.text_field :email %>
          <%= f.label :password %>
          <%= f.password_field :password %>
        <%= hidden_field_tag :date, @date.strftime("%Y%m%d"), :id=>"redirect-to-date" %>
        <span id="forgot-pass"><%= link_to "Forgot password", new_password_reset_path %></span>
        <%= f.submit "Log in", :class => "button" %>
        </fieldset>
      <% end %>
    <% end %>
		</div><!-- /#log-in -->
	</div>
</div>
</div>