<% form_for(@work_day) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :day %><br />
    <%= f.select :day_number, WEEKDAYS.sort{|a,b| a[1]<=>b[1]}, {:include_blank=>true} %>
  </p>
  <p>
    <%= f.label :start_hour %><br />
    <%= f.select :start_hour, HOURS.sort{|a,b| a[1]<=>b[1]}, {:include_blank=>true} %>
  </p>
  <p>
    <%= f.label :end_hour %><br />
    <%= f.select :end_hour, HOURS.sort{|a,b| a[1]<=>b[1]}, {:include_blank=>true} %>
  </p>
  <p>
    <%= f.submit 'save' %>
  </p>
<% end %>