<h1>Work Days</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start hour</th>
    <th>End hour</th>
  </tr>

<% @work_days.each do |work_day| %>
  <tr>
    <td><%=h work_day.display_name %></td>
    <td><%=h work_day.display_start_hour %></td>
    <td><%=h work_day.display_end_hour %></td>
    <td><%= link_to 'Show', work_day %></td>
    <td><%= link_to 'Edit', edit_work_day_path(work_day) %></td>
    <td><%= link_to 'Destroy', work_day, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new work day', new_work_day_path %>