<p>
  <b>Name:</b>
  <%=h @work_day.display_name %>
</p>

<p>
  <b>Start hour:</b>
  <%=h @work_day.display_start_hour %>
</p>

<p>
  <b>End hour:</b>
  <%=h @work_day.display_end_hour %>
</p>


<%= link_to 'Edit', edit_work_day_path(@work_day) %> |
<%= link_to 'Back', work_days_path %>