<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Scheduler") %></title>
    <%= stylesheet_link_tag 'application', 'styles' %>
	  <%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.16.custom' %>

  </head>
  <body id="calendar">
    <header class="clearfix">
      <nav class="clearfix">
    		<ul class="clearfix">
    			<li><a href="/about">About</a></li>
    			<li><a href="/goods-services">Goods & Services</a></li>
    			<li><a href="/classes-workshops">Classes & Workshops</a></li>
    			<li><a href="/News">News</a></li>
    		</ul>
    	</nav>
    	<div id="logo">
    		<h1><a href="/">The Arm Letterpress</a></h1>
    		<address>281 North 7th Street, Brooklyn, NYC</address>
    	</div>
    </header>
    <div id="main" role="main" class="clearfix wrapper">
    <div id="content">
     
      <%= yield %>
    </div><!-- /#content -->
    </div><!-- /#main --> 
  
  
  
  <footer class="clearfix">
	<div class="wrapper">
    	<div id="location" class="clearfix">
    		<a href="/"><img src="/images/design/footer/map-image.png" alt="Google Map image" /></a>
    			<p id="address">
				<span class="title">The Arm Letterpress</span>
				<span class="street">281 North 7th Street,</span>
				<span class="city-state">Williamsburg, Brooklyn, NY<span>
				<a href="/" class="button"><span class="text">Get Directions</span> <span class="arrow">></span></a>
			</p>
    	</div>
		<ul>
			<li><span class="title"><a href="#">Classes & Workshops</a></span>
				<ul>
					<li><a href="#">Letterpress on the Vandercook & C&P Pilot</a></li>
					<li><a href="#">Wood Type Intensive</a></li>
					<li><a href="#">Advanced Printing on the Vandercook</a></li>
				</ul>
			</li>
			<li><span class="title"><a href="/classes-workshops">Studio Hours</span></a>
				<ul>
					<li>Wednesday: 6PM - 10PM</li>
					<li>Thursday: 12PM - 10PM</li>
					<li>Friday: 12PM - 10PM</li>
					<li>Saturday: 11AM - 8PM</li>
				</ul>
			</li>
   		</ul>
   		
   		<p id="footer-about">
			<span class="title">About The Arm</span>
			<span>The Arm is a public access letterpress studio, teaching facility & commercial print shop in Williamsburg, Brooklyn.</span>
			<a href="/" class="button"><span class="text">Read More</span> <span class="arrow">></span></a>
		</p>
	</div><!-- /.wrapper -->
    </footer>

    <%= javascript_include_tag  'jquery-1.7.1.min', "jquery-ui-1.8.16.custom.min", "application", "jquery.colorbox-min", "plugins", "script.js" %>
    <%= yield(:script) %>
    <script>window.jQuery || document.write('<script src="/javascripts/corelibs/jquery-1.7.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="http://use.typekit.com/ytx8ird.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  </body>

</html>
